# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# Editor and OS files
.vscode/
*.swp
*.swo
.DS_Store
# Logs
*.log

# Environment files
.env